<nav class="nav">
  <div class="nav-links">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/search">Search</a>
    <a class="nav-link" href="/listings">Listings</a>
    <% if (user_id) { %>
      <a class="nav-link" href="/listings/new">My Profile</a>
      <a class="nav-link" href="/favourite">Favourite Listings</a>
  </div>
  <div class="name-logout">
    <label class="name">Hello, <%= username %></label>
    <form method="POST" action="/api/users/logout">
      <button class="btn btn-primary" type="submit">Logout</button>
    </form>
  </div>
  <% } else { %>
    <a class="nav-link" href="/login">Login</a>
    <a class="nav-link" href="/register">Register</a>
    <% } %>
</nav>
