<!DOCTYPE html>
<html lang="en">

<head>
  <title>Listings</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Temp_name</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Featured Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<h1>Listings:</h1>

<!-- list group item -->
<li class="list-item">
  <!-- Custom content-->
  <div class="list-info-image">
    <div class="list-info">
      <h2 class="list-head">2018 Audi A3 2.0</h2>
      <p class="list-description">2018 Audi A3 2.0 Technik | PWR SUNROOF | NAV | 23 K | HTD SEATS</p>
      <h3 class="list-price"> $26000 </h3>
    </div><img src="https://tdrpmimages.azureedge.net/photos/import/202207/0521/4804/5bd682ef-7896-4ed4-976b-90f022273664.jpg-1024x786" alt="Generic placeholder image" width="200" class="list-image">
  </div>
  <!-- End -->
    <!-- Custom content-->
    <div class="list-info-image">
      <div class="list-info">
        <h2 class="list-head">2012 Audi A4 2.0T</h2>
        <p class="list-description">2012 Audi A4 2.0T Quattro ***Sold As-Is Seen & Equipped</p>
        <h3 class="list-price"> $9900 </h3>
      </div><img src="https://tdrpmimages.azureedge.net/photos/import/202206/2807/2025/0418ece4-ec86-4e81-bbe6-5e205935c569.jpg-1024x786" alt="Generic placeholder image" width="200" class="list-image">
    </div>
    <!-- End -->
</li>
<!-- End -->
</body>
</html>
