body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;

  background: white;

  .navbar {
    position: fixed;
    top: 0;
    width:100vw;
  }
  body div:nth-child(1) {
    width:100vw;
    position: fixed;
    top: 55px;
  }
  div .img-fluid {
    width:100vw;
  }
  .cartype {

    display: flex;
    flex-direction: row;

  }
}
