body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding-top: 4em;

  background: white;

  .listing_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

    img {
      width: 642px;
    }

    .listing {
      flex: 1 0 100%;
      margin: 5px;
      height: 500px;
      color: white;
      background-color: #338a4a;
      padding: 0.5em;
      display: flex;

      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
        margin-left: 5em;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 50px;
    width: 200vw;
    z-index: 10;
    background-color: darkgreen;
    color: white;

    .nav-link {
      color: white;
    }
  }
  img {
    width: 300px;

  }
}
