body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding-top: 4em;

  background: white;

  .nav {
    position: fixed;
    border-bottom: 1px solid white;
    top:0;
    width:100vw;
    background: silver;
    justify-content: left;
    align-items: center;
    padding-top: 1em;
    padding-top: 5px;
  }
  .nav-link {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    font-family: georgia, serif;
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    color: white;
    margin-right: 15px;
    font-family: georgia, serif;
  }
  .name-logout {
    display:flex;
    flex-direction: row;
    justify-content: right;
    width: 45%;

    img {
      width: 642px;
    }

    .listing {
      flex: 1 0 100%;
      margin: 5px;
      height: 500px;
      color: white;
      background-color: #338a4a;
      padding: 0.5em;
      display: flex;

      .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
        margin-left: 5em;
      }
    }
  }

  body div:nth-child(1) {
    width:100vw;
    position: fixed;
    top: 55px;
  }
  div .img-fluid {
    width:100vw;
  }
  .cartype {
    display: flex;
    flex-direction: row;
  }
  .post-form {
    width: 80%;
  }
  .listing_container {
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 150px;
    background: silver;
  }
  .description {
    font-size: 2em;
    color: grey;
    font-family: georgia, serif;
  }
  .listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: white;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid black
  }
  .listing_text_sale {
    color: red;
    font-style: italic;
  }
  .listing_photo {
    width: 30%;
    height: 30%;
    border-radius: 60%;
  }
  .listing_photo:hover {
    box-shadow: 5px 5px grey;
  }
  .listing:hover {
    box-shadow: 5px 5px goldenrod;
    visibility: visible;
  }
  .nav-link:hover {
    color: white;

    .nav-link {
      color: white;
    }
  }

  img {
    width: 300px;

  }
}
