#search_form {
  display: flex;
  flex-direction: column;

  .price_form {
    display: flex;
    flex-direction: row;

    .minimum_price {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .maximum_price {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }

  .brand_form {
    margin-top: 1em;
  }

  .model_form {
    margin-top: 1em;
  }

  .year_form {
    margin-top: 1em;
  }

  .search_button {
    margin-top: 1em;
  }
}
